.footer {
    background-color: rgb(159, 20, 20);
    padding: 100px 0 100px 0;
    font-size: 39px;
    text-align: center;
    color: wheat;

    @media(max-width: 1200px) {
        font-size: 10px;
    }
}